%base-button
  border-radius: 12px
  @include flex(row, center, center)
  gap: 12px
  @include font(500, 15px, normal, var(--white))
  padding: 12px 0
  width: 100%
  max-width: 200px
  min-width: 160px
